.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    aspect-ratio: 16 / 9 !important;
    aspect-ratio: 9 / 16 !important;
    border: 1px dashed blue;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    outline: 1px dashed orange;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    outline: 1px dashed orange;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
    outline: 1px dashed orange;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
    outline: 1px dashed orange;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
    outline: 1px dashed orange;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
    outline: 1px dashed orange;
}

.parent {
    border: 1px dashed orange;
}